<div class="row" ng-controller="AdminCtrl as ac">
    &NonBreakingSpace;

    <body>
    <div class="container">
        <div class="row">
            <div class="span2">
                <ul class="nav nav-pills nav-stacked">

                    <li class="nav-header">Access</li>
                    <li><a href="/#/admin/users">Users</a></li>
                    <li><a href="/#/admin/groups">Groups</a></li>
                    <li><a href="/#/admin/roles">Roles</a></li>

                    <li class="nav-header">Notification</li>
                    <li><a href="/#/admin">Teams</a></li>
                    <li><a href="/#/admin">Schedules</a></li>
                    <li><a href="/#/admin">Channels</a></li>

                    <li class="nav-header">Analytics</li>
                    <li><a href="/#/admin">Esper</a></li>
                    <li><a href="/#/admin">Anomaly Detection</a></li>

                    <li class="nav-header">Instrumentation</li>
                    <li><a href="/#/admin/agents">Agents</a></li>
                    <li><a href="/#/admin/agents">Collectd</a></li>

                    <li class="nav-header">Persistenace</li>
                    <li><a href="/#/admin">Database</a></li>
                    <li><a href="/#/admin">Forwarders</a></li>
                    <li><a href="/#/admin">Peers</a></li>
                </ul>
            </div>
        </div>
    </div>
    </body>
</div>