<div class="row" >
    &NonBreakingSpace;

    <div ng-controller="ListIncidentsCtrl">
        <div class="form-group">
            <input class="form-control" type="text" ng-model="searchText" placeholder="Filter Incidents...">
            <hr>
        </div>

        <table id="incident_list" class="table table-striped">
            <thead>
            <tr>
                <th>Host</th>
                <th>Observer</th>
                <th>Key</th>
                <th>Message</th>
                <th>Archive</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="(index, i) in incidents | filter:searchText">
                <td>
                    {{ i.incidentKey.host }}
                </td>
                <td>
                    {{ i.incidentKey.observer }}
                </td>
                <td>
                    {{ i.incidentKey.key }}
                </td>
                <td>
                    {{ i.rule.params }}
                </td>
                <td>
                    <button ng-click="archiveIncident(index,i)" class="btn" id="btn_login">Archive</button>
                </td>
            </tr>
            <tr ng-hide="incidents.length">
                <td colspan="5">
                    <p class="text-center">No Incidents</p>
                </td>
            </tr>
            </tbody>
        </table>

        <hr>
        <h4>Debug:</h4>
        <pre>{{ incidents | json }}</pre>
    </div>

</div>
