<div class="row" ng-controller="ListDetectorCtrl">
        <div class="form-group">
            <row>
                <div class="col-md-11">
                    <input class="form-control" type="text" ng-model="searchText" placeholder="Filter Detectors...">
                </div>
                <div class="col-md-1">
                    <a ui-sref="admin.detector.create" class="btn btn-primary pull-right" id="btn_role_create">Create Detector</a>
                </div>
            </row>
            <hr>
        </div>

        <table id="detector_list" class="table table-striped">
            <thead>
            <tr>
                <th>Name</th>
                <th>Token</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="detector in detectors | filter:searchText">
                <td>
                    <a ui-sref="admin.detector.edit({detectorId: detector._id})">{{detector.name}}</a>
                </td>
                <td>
                    {{detector.integrationToken}}
                </td>
            </tr>
            <tr ng-hide="detectors.length">
                <td colspan="1">
                    <p class="text-center">No Detectors</p>
                </td>
            </tr>
            </tbody>
        </table>

        <hr>
        <h4>Debug:</h4>
        <pre>{{ detectors | json }}</pre>
</div>
