<!doctype html>
<html lang="en" ng-app="akwire">
<head>
    <meta charset="utf-8">
    <title>Akwire</title>
    <!-- Latest compiled and minified Bootstrap CSS -->
<!--
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
-->
    <link rel="stylesheet" href='@routes.Assets.at("javascripts/vendor/bootstrap-3.2.0-dist/css/bootstrap.min.css")'>
    <link rel="stylesheet" href='@routes.Assets.at("javascripts/vendor/bootstrap-3.2.0-dist/css/bootstrap-theme.min.css")'>
    <link rel="stylesheet" media='screen' href='@routes.Assets.at("stylesheets/main.css")'>
</head>
<body>

<div class="container-fluid col-md-12">
    <!-- Fixed navbar -->
    <header>
        <div class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" ui-sref="home">Akwire</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">

                    <!-- the wiki! sops, special rendering plugins, etc -->
                    <li ng-class="{ active: $state.includes('wiki')}"><a ui-sref="wiki">Wiki</a></li>

                    <!-- agent management -->
                    <li ng-class="{ active: $state.includes('agents')}"><a ui-sref="agents">Agents</a></li>

                    <!--
                      explore, sort, annotate, etc, both metrics, reports, and events
                      charts, histograms, dashboards (GEQL)
                      use a finder-like UI here
                      status display & svg maps
                    -->
                    <li ng-class="{ active: $state.includes('data')}"><a ui-sref="data">Data</a></li>

                    <li ng-class="{ active: $state.includes('incidents')}"><a ui-sref="incidents.list">Incidents</a></li>

                    <li class="divider-vertical"></li>

                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Configure<b class="caret"></b></a>
                        <ul class="dropdown-menu" role="menu">
                            <li role="presentation">
                                <a ui-sref="configure.rules.list">Alerting Rules</a>
                            </li>
                            <li role="presentation">
                                <a ui-sref="configure.tags.list">Tagging Rules</a>
                            </li>
                            <!-- alert policy, escalation, schedule -->
                            <li role="presentation">
                                <a ui-sref="configure.notifications">Notifications</a>
                            </li>
                            <li role="presentation">
                                <a ui-sref="configure.profiles">Profiles</a>
                            </li>
                            <li role="presentation">
                                <a ui-sref="configure.team">Team</a>
                            </li>
                        </ul>
                    </li>
                </ul>

                <p ui-view="activeteam" class="navbar-text pull-right"></p>

                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">System<b class="caret"></b></a>
                        <ul class="dropdown-menu" role="menu">
                            <li role="presentation">
                                <a ui-sref="admin">Admin</a>
                            </li>
                            <li role="presentation">
                                <a ui-sref="account">Account</a>
                            </li>
                            <li class="divider"></li>
                            <li role="presentation">
                                <a ui-sref="logout">Logout</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            </div>
        </div>
    </header>

    <div ui-view class="container-fluid col-md-12" style="padding-top: 20px;"></div>

    <hr/>

    <pre>
      <!-- Here's some values to keep an eye on in the sample in order to understand $state and $stateParams -->
      $state = {{ $state.current.name }}
      $stateParams = {{ $stateParams }}
      $state full url = {{ $state.$current.url.source }}
      <!-- $state.$current is not a public api, we are using it to
           display the full url for learning purposes-->
    </pre>

    <div>
        <footer>
            <hr/>
            <div>
                <span>&copy; akwire.com 2014</span>
                <span class="pull-right">version : <span app-version></span></span>
            </div>
        </footer>
    </div>
</div>
</body>

<!--
<script src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.js' type="text/javascript"></script>
<script src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular-route.js' type="text/javascript"></script>
-->
<script src='@routes.Assets.at("javascripts/vendor/angular-1.2.21/angular.js")' type="text/javascript"></script>
<script src='@routes.Assets.at("javascripts/vendor/angular-1.2.21/angular-route.js")' type="text/javascript"></script>

<script src='@routes.Assets.at("javascripts/vendor/ui-bootstrap-tpls-0.10.0.js")' type="text/javascript"></script>
<script src='@routes.Assets.at("javascripts/vendor/angular-ui-router-0.2.10.min.js")' type="text/javascript"></script>

<script src='@routes.Assets.at("javascripts/vendor/autofill-event.js")' type="text/javascript"></script>

<script src='@routes.Assets.at("javascripts/main.js")' type="text/javascript"></script>

<!-- Coffee script compiled resources-->
<script src='@routes.Assets.at("javascripts/app.js")' type="text/javascript"></script>
<script src='@routes.Assets.at("javascripts/common/Config.js")' type="text/javascript"></script>
<script src='@routes.Assets.at("javascripts/directives/AppVersion.js")' type="text/javascript"></script>

<script src='@routes.Assets.at("javascripts/users/UserService.js")' type="text/javascript"></script>
<script src='@routes.Assets.at("javascripts/users/UserCtrl.js")' type="text/javascript"></script>
<script src='@routes.Assets.at("javascripts/users/CreateUserCtrl.js")' type="text/javascript"></script>

<script src='@routes.Assets.at("javascripts/roles/RoleService.js")' type="text/javascript"></script>
<script src='@routes.Assets.at("javascripts/roles/RoleCtrl.js")' type="text/javascript"></script>

<script src='@routes.Assets.at("javascripts/rules/RuleService.js")' type="text/javascript"></script>
<script src='@routes.Assets.at("javascripts/rules/RuleCtrl.js")' type="text/javascript"></script>
<script src='@routes.Assets.at("javascripts/rules/RuleUI.js")' type="text/javascript"></script>

<script src='@routes.Assets.at("javascripts/teams/TeamService.js")' type="text/javascript"></script>
<script src='@routes.Assets.at("javascripts/teams/TeamCtrl.js")' type="text/javascript"></script>
<script src='@routes.Assets.at("javascripts/teams/TeamUI.js")' type="text/javascript"></script>

<script src='@routes.Assets.at("javascripts/detectors/DetectorService.js")' type="text/javascript"></script>
<script src='@routes.Assets.at("javascripts/detectors/DetectorCtrl.js")' type="text/javascript"></script>
<script src='@routes.Assets.at("javascripts/detectors/DetectorUI.js")' type="text/javascript"></script>

<script src='@routes.Assets.at("javascripts/incidents/IncidentService.js")' type="text/javascript"></script>
<script src='@routes.Assets.at("javascripts/incidents/IncidentCtrl.js")' type="text/javascript"></script>
<script src='@routes.Assets.at("javascripts/incidents/IncidentUI.js")' type="text/javascript"></script>

<script src='@routes.Assets.at("javascripts/agents/AgentService.js")' type="text/javascript"></script>
<script src='@routes.Assets.at("javascripts/agents/AgentCtrl.js")' type="text/javascript"></script>

</html>
