<!doctype html>
<html lang="en" ng-app="akwire">
<head>
    <meta charset="utf-8">
    <title>Modern Web Template</title>
    <!-- Latest compiled and minified Bootstrap CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
    <link rel="stylesheet" media='screen' href='@routes.Assets.at("stylesheets/main.css")'>
</head>
<body>
<div class="container-fluid col-md-10 col-md-offset-1">
    <!-- Fixed navbar -->
    <header>
        <div class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/#/">Akwire</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">

                    <!-- the wiki! sops, special rendering plugins, etc -->
                    <li ng-class="{ active: isActive('/wiki')}"><a href="/#/wiki">Wiki</a></li>

                    <!-- agent management -->
                    <li ng-class="{ active: isActive('/agents')}"><a href="/#/agents">Agents</a></li>

                    <!--
                      explore, sort, annotate, etc, both metrics, reports, and events
                      charts, histograms, dashboards (GEQL)
                      use a finder-like UI here
                      status display & svg maps
                    -->
                    <li ng-class="{ active: isActive('/data')}"><a href="/#/data">Data</a></li>

                    <!--
                      curated service definitions
                      subscription driven by global rules and role/team rules

                      services could
                       - have their own rules
                       - subscribe to the rules of other roles
                       - be solely tag based for routing, that pushes tags to the edge though
                       - could have one set of rules that feed all services, or define each service with its own set of rules

                      goals
                       - point of integration for external monitoring systems
                       - push for tier 1, push notifications to owners
                       - curated, defined by the business, with a real SLA and SOP

                      how to share alerts
                      avoid duplicate notifications
                      curated rules
                      curated tags

                      global tagging
                      global rules?

                    -->
                    <li ng-class="{ active: isActive('/services')}"><a href="/#/services">Services</a></li>

                    <li ng-class="{ active: isActive('/incidents')}"><a href="/#/incidents">Incidents</a></li>

                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Configure<b class="caret"></b></a>
                        <ul class="dropdown-menu" role="menu">
                            <li role="presentation">
                                <a href="/#/configure/tag-rules">Tagging Rules</a>
                            </li>
                            <li role="presentation">
                                <a href="/#/configure/alert-rules">Alerting Rules</a>
                            </li>
                            <li role="presentation">
                                <a href="/#/configure/notifications">Notifications</a>
                            </li>
                            <li role="presentation">
                                <a href="/#/configure/profiles">Profiles</a>
                            </li>
                            <li role="presentation">
                                <a href="/#/configure/role">Role</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">System<b class="caret"></b></a>
                        <ul class="dropdown-menu" role="menu">
                            <li role="presentation">
                                <a href="/#/admin">Admin</a>
                            </li>
                            <li role="presentation">
                                <a href="/#/account">Account</a>
                            </li>
                            <li class="divider"></li>
                            <li role="presentation">
                                <a href="/#/logout">Logout</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            </div>
        </div>
    </header>

    <div ng-view></div>

    <div>
        <footer>
            <hr/>
            <div>
                <span>&copy; akwire.com 2014</span>
                <span class="pull-right">version : <span app-version></span></span>
            </div>
        </footer>
    </div>
</div>
</body>

<script src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular.js' type="text/javascript"></script>
<script src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular-route.js' type="text/javascript"></script>
<script src='@routes.Assets.at("javascripts/vendor/ui-bootstrap-tpls-0.10.0.js")' type="text/javascript"></script>

<script src='@routes.Assets.at("javascripts/main.js")' type="text/javascript"></script>

<!-- Coffee script compiled resources-->
<script src='@routes.Assets.at("javascripts/app.js")' type="text/javascript"></script>
<script src='@routes.Assets.at("javascripts/common/Config.js")' type="text/javascript"></script>
<script src='@routes.Assets.at("javascripts/directives/AppVersion.js")' type="text/javascript"></script>

<script src='@routes.Assets.at("javascripts/users/UserService.js")' type="text/javascript"></script>
<script src='@routes.Assets.at("javascripts/users/UserCtrl.js")' type="text/javascript"></script>
<script src='@routes.Assets.at("javascripts/users/CreateUserCtrl.js")' type="text/javascript"></script>

<script src='@routes.Assets.at("javascripts/roles/RoleService.js")' type="text/javascript"></script>
<script src='@routes.Assets.at("javascripts/roles/RoleCtrl.js")' type="text/javascript"></script>

<script src='@routes.Assets.at("javascripts/agents/AgentService.js")' type="text/javascript"></script>
<script src='@routes.Assets.at("javascripts/agents/AgentCtrl.js")' type="text/javascript"></script>

</html>
