<div class="row" ng-controller="ListRuleCtrl">
    &NonBreakingSpace;

    <div class="row">
        <div class="form-group">
            <input class="form-control" type="text" ng-model="searchText" placeholder="Filter Rules...">
            <hr>
        </div>

        <table id="rule_list" class="table table-striped">
            <thead>
            <tr>
                <th>Name</th>
                <th>Pattern</th>
                <th>Expression</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="rule in rules | filter:searchText">
                <td>
                    {{ rule.name }}
                </td>
                <td>
                    {{ rule.pattern }}
                </td>
                <td>
                    {{ rule.expression }}
                </td>
            </tr>
            <tr ng-hide="rules.length">
                <td colspan="4">
                    <p class="text-center">No Rules</p>
                </td>
            </tr>
            </tbody>
        </table>

        <hr>
        <h4>Debug:</h4>
        <pre>{{ rules | json }}</pre>
    </div>
</div>
