<div class="row" ng-controller="ListRoleCtrl as ac">
        <div class="form-group">
            <row>
                <div class="col-md-11">
                    <input class="form-control" type="text" ng-model="searchText" placeholder="Filter Roles...">
                </div>
                <div class="col-md-1">
                    <a ui-sref="admin.role.create" class="btn btn-primary pull-right" id="btn_role_create">Create Role</a>
                </div>
            </row>
            <hr>
        </div>

        <table id="role_list" class="table table-striped">
            <thead>
            <tr>
                <th>Name</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="role in ac.roles | filter:searchText">
                <td>
                    <a ui-sref="admin.role.edit({roleId: role._id})">{{role.name}}</a>
                </td>
            </tr>
            <tr ng-hide="ac.roles.length">
                <td colspan="1">
                    <p class="text-center">No Roles</p>
                </td>
            </tr>
            </tbody>
        </table>

        <hr>
        <h4>Debug:</h4>
        <pre>{{ ac.roles | json }}</pre>
</div>
